@charset "UTF-8";

.export-events {
  width  : 90%;
  margin : 1em 2em 2em;

  h1 {
	margin-bottom : 1em;
	font-size     : 36px;
  }

  h2 {
	width         : 70%;
	margin        : 0.2em 0 0.5em;
	font-size     : em( 24px );
	font-weight   : 400;
	line-height   : 1.2em;
	border-bottom : 2px solid rgba(38, 38, 40, 0.4);
  }

  ul,
  p {
	margin      : 0 0 1em 0;
	font-size   : em( 14px );
	line-height : 1.2em;
  }

  ul { list-style : none; }
}





